mixin banner-1
    .banner-1__container 
        .banner-1__mask
            img(src="/images/mask-1.png").banner-1__mask-1
            img(src="/images/mask-2.png").banner-1__mask-2
            img(src="/images/mask-1-hover.png").banner-1__mask-1-hover
        p.banner-1__city Санкт-Петербург
        h1.banner-1__title Котейка
        p.banner-1__text Уютная гостиница для котов и кошек
        a(href="#").banner-1__btn Забронировать

            