include ../button-1/button-1.pug

mixin banner-1
    section.banner-1
        .banner-1__mask
            img(src="/images/mask-1.png").banner-1__mask-1
            img(src="/images/mask-2.png").banner-1__mask-2
            img(src="/images/mask-1-hover.png").banner-1__mask-1-hover
        .banner-1__content
            p.banner-1__content__city Санкт-Петербург
            h1.banner-1__content__title Котейка
            p.banner-1__content__text Уютная гостиница для котов и кошек
            //- a(href="#").banner-1__content__btn Забронировать
            +button-1("banner__button")

            