mixin header
    header.header
        div.header__container
            div.header__inner
                div.header__logo
                    img(src="/images/logo.png")
                nav.header__nav
                    a(href="#").header__nav-link Почему мы?
                    a(href="#").header__nav-link Номера
                    a(href="#").header__nav-link Отзывы
                    a(href="#").header__nav-link Как нас найти
        
